.header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ecf6ff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 12;
}
.header__logo{
    color : #71758d;
    cursor: pointer;
}

.header__navigation > ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.header__navigation-item{
    padding: 5px;
}